# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
target/

# Compiled files
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.tar
*.gz

# Log files
*.log

# IDE-specific files
.vscode/
*.code-workspace
*.sublime-*
*.komodoproject
*.komodotools
*.kate-swp
.idea
.idea_modules/
*.tmproj
*.idea
*.DS_Store
*.project
*.classpath
*.settings

# Gradle
# Gradle
.gradle/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties


build/
.build/
# Database
*.db
*.sqlite
*.sqlite3
*.sql

# OS-specific
.DS_Store
Thumbs.db
/target/
/out/
/logs/